$main: #8e3b46;
$support: #eb5160;
$support2: #ef476f;
$contrast: #f4dbd8;
$contrast2: #393d3f;
$highlight: rgb(12, 233, 12);
$highlight2: #000;

$test: 1px solid red;

@mixin usb-transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
